@charset "utf-8";
/* CSS Document */



html, body {
	width: 100%;
    height: 100%;
	margin:0;
    padding:0;
	font-size: 100%;
}


#container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: #CF6; 			/* REMOVE THIS LATER */
}


#header {
	height: 42.10526316%;
	width: 100%;
	margin: 0 auto;
	background-color: #C3C; 			/* REMOVE THIS LATER */
}

#logo {

	height: 26.3157894737%;
	width: 26.3157894737%;
	background-color: #FFF; 			/* REMOVE THIS LATER */	
	position: absolute;
	left: 36.8421052632%;
	top: 15.7894736842%;		
			

}


#nav_bar {
	width: 100%;
	height: auto;
	margin: 0 auto;
	background-color: #09F; 			/* REMOVE THIS LATER */
}

#content {
	width: 100%;
	height: auto;
	margin: 0 auto;
	background-color: #F90; 			/* REMOVE THIS LATER */
}



#footer {
	width: 100%;
	height: auto;
	margin: 0 auto;
	text-align: center;
	font-size: 80%;
	background-color: #9C9; 			/* REMOVE THIS LATER */
}	

