@charset "utf-8";
/* CSS Document */



html, body {
	width: 100%;
    height: 100%;
	margin:0;
    padding:0;
	font-size: 100%;
}



#container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}



#header {
	height: 60%;
	width: 100%;
	margin: 0 auto;
	background-image: url(../Images/header_bg.png);
	background-size: 100% 100%;
}

#logo {
	height: 50%;
	width: 40%;
	position: absolute;
	left: 30%;
	top: 10%;		
}

img.logo {
	display: block;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	height: 90%;
	width: auto;
	max-height: 100%;
	max-width: 100%;
}


#nav_bar {
	font-size: 1em;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	color: #333;
	width: 70%;
	height: 10%;
	padding-left: 17%;
	margin: 0 auto;
	background-color: #FFF; 
	display: inline-block;
}

#nav_bar a {
	color: #333;
	text-decoration: none;
}

#nav_bar a:hover {
	color: #666;
	text-decoration: none;
}

#nav_bar ul {
	padding: 0% 5%;
	margin: 0;
	list-style:none;
}

#nav_bar ul::after {
	display: block;
	clear: both;	
}

#nav_bar ul > li {
	float: left;
	padding: 1% 3%;
	position: relative;
}


#nav_bar ul > li > ul {
	display: none;
}

#nav_bar ul li:hover {
	color: #666;
}


#nav_bar ul li:hover > ul {
	position: absolute;
	top: 100%;
	left: 10%;
	background-color: #FFF;
	color: #000;
	font-size: 0.9em;
	font-weight: normal;
	display: block;
	border-radius: 10%;
	padding: 5%;
	width: 110%;
	height: auto;
	z-index: 100;
}

#nav_bar ul li:hover > ul li:hover {

	background-color: #FFF;

}

#nav_bar ul li:hover > ul li:hover a {
	color: #999;
}



#content {
	width: 70%;
	height: auto;
	min-height: 2%
	min-height: 50%;
	margin: 0;
	padding: 10% 15%;
	background-image: url(../Images/content_bg.png); 		
	background-size: auto 100%;
	background-repeat: repeat-x;
	overflow: hidden;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.2em;
}

#content a:link {
	color: #666;
}

#content a:hover {
	color: #333;
}


#footer {
	width: 96%;
	height: 4%;
	margin: 0 auto;
	text-align: center;
	font-size: 0.9em;
	padding-bottom: 2%;
	background-color: #FFF;
}	

