@charset "utf-8";
/* CSS Document */



html, body {
	width: 100%;
    height: 100%;
	margin:0;
    padding:0;
	font-size: 100%;
}



#container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}



#header {
	height: 60%;
	width: 100%;
	margin: 0 auto;
	background-image: url(../Images/header_bg.png);
	background-size: 100% 100%;
}

#logo {
	height: 50%;
	width: 40%;
	position: absolute;
	left: 30%;
	top: 10%;		
}

img.logo {
	display: block;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	height: 90%;
	width: auto;
	max-height: 100%;
	max-width: 100%;
}


#nav_bar {
	font-size: 1em;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	color: #333;
	width: 70%;
	height: 10%;
	padding-left: 17%;
	margin: 0 auto;
	background-color: #FFF; 
	display: inline-block;
}

#nav_bar a {
	color: #333;
	text-decoration: none;
}

#nav_bar a:hover {
	color: #666;
	text-decoration: none;
}

#nav_bar ul {
	padding: 0% 5%;
	margin: 0;
	list-style:none;
}

#nav_bar ul::after {
	display: block;
	clear: both;	
}

#nav_bar ul > li {
	float: left;
	padding: 1% 3%;
	position: relative;
}


#nav_bar ul > li > ul {
	display: none;
}

#nav_bar ul li:hover {
	color: #666;
}


#nav_bar ul li:hover > ul {
	position: absolute;
	top: 100%;
	left: 10%;
	background-color: #FFF;
	color: #000;
	font-size: 0.9em;
	font-weight: normal;
	display: block;
	border-radius: 10%;
	padding: 5%;
	width: 110%;
	height: auto;
	z-index: 100;
}

#nav_bar ul li:hover > ul li:hover {

	background-color: #FFF;

}

#nav_bar ul li:hover > ul li:hover a {
	color: #999;
}



#content {
	width: 70%;
	height: auto;
	min-height: 2%
	min-height: 50%;
	margin: 0;
	padding: 10% 15%;
	background-image: url(../Images/content_bg.png); 		
	background-size: auto 100%;
	background-repeat: repeat-x;
	overflow: hidden;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.2em;
}

#content a:link {
	color: #666;
}

#content a:hover {
	color: #333;
}

#content h1, h2, h3 {
	margin: 0;
	border: 0;
}

#content table {

	border-collapse: collapse;
	width: 90%;
	text-align: center;	
	margin: 0 auto;
}

#content th, td {
	padding: 0.7em;
	border-bottom: 1px solid black;
}

#content th {
	font-weight: bold;
}

.td_image {
	padding: 0 5%; 
	margin: 0;
}

.td_text {
	padding: 0 5%; 
	border: 0; 
	margin: 0;
	width: 40%;
	text-align: left; 
}

#footer {
	width: 96%;
	height: 4%;
	margin: 0 auto;
	text-align: center;
	font-size: 0.9em;
	padding-bottom: 2%;
	background-color: #FFF;
}	

#what_is_table {
	width: 100%;
	font-size: 0.7em;
}

#guidelines_content {
	padding: 0% 10%;
}

#registration_form {
	background-image: url(../Images/form_bg.png);
	background-size: 100%;
	width: 40%;
	margin: 0 auto;
}

#announcements {
	padding: 0 10%;
}


.center_text {
	text-align: center;
}

.center_w_side_borders {
	text-align:center; 
	padding: 10% 20%; 
	border-left: 0.1em dashed black; 
	border-right: 0.1em dashed black;
}

.increase_line_height {
	line-height: 1.8em;
}

.italic_increase_line_height {
	font-style: italic;
	line-height: 1.8em;
}

.left_padding {
	padding-left: 3%;
}

.sixty_width {
	padding: 0; 
	border: 0; 
	width: 60%
}

.small_text {
	font-size:0.7em;
}

.note {
	font-size: 0.8em;
}

.follow_up {
	font-size: 0.9em;
}

.follow_up_italic {
	font-size: 0.9em;
	font-style: italic;
}

.small_bold {
	font-size: 0.9em; 
	font-weight: bold; 
	line-height: 1.8em;
}

.large_font {
	font-size: 1.2em;
}

.navy {
	color: #339;
}

.float_left {
	float: left;
	clear: right;
}

.float_left_x_padding {
	float:left; 
	clear:right; 
	padding: 0 0.4em;
}

.float_left_clear_both {
	float: left;
	clear: both;
}

.row_hover tr:hover {
	background-image: url(../Images/table_hover_bg.png);
}